[alias]
    tree = log --oneline --decorate --graph
    vimdiff = difftool
[user]
    name = Alexey Ivanov
    email = SaveTheRbtz@GMail.com
[color]
    ui = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[branch]
    autosetuprebase = always
[push]
    default = simple
