[alias]
	tree = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	vimdiff = difftool
	up = "!git remote update -p; git merge --ff-only @{u}"
[user]
	name = Alexey Ivanov
	email = SaveTheRbtz@GMail.com
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[branch]
	autosetuprebase = always
[push]
	default = tracking
[pull]
	rebase = preserve
[gc]
	auto = 1
