[alias]
    tree = log --oneline --decorate --graph
    vimdiff = difftool
[user]
    name = Alexey Ivanov
    email = rbtz@yandex-team.ru
[color]
    ui = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[branch]
    autosetuprebase = always
